---
import Heading from "../../../atoms/Heading.astro";
import Link from "../../../atoms/Link.astro";
import Text from "../../../atoms/Text.astro";

interface Props {
  name: string;
  url: string;
  skills: string[];
  status: "WIP" | "DONE";
}

const { name, url, status } = Astro.props;
---

<li class="project-card--root">
  <header>
    <Link href={url}>
      <Heading as="h3" size="6" weight="regular">{name}</Heading>
    </Link>

    {
      status === "WIP" && (
        <Text size="2" style="italic">
          (work in progress)
        </Text>
      )
    }
  </header>

  <Text>
    <slot />
  </Text>
</li>

<style>
  .project-card--root {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    border-radius: var(--radius-3);
  }

  header {
    display: inline-flex;
    align-items: flex-end;
    gap: var(--space-2);
  }
</style>
