---
import EmailIcon from "../../atoms/icons/EmailIcon.astro";
import LinkedInIcon from "../../atoms/icons/LinkedInIcon.astro";
import TwitterIcon from "../../atoms/icons/TwitterIcon.astro";
---

<div class="contacts">
    <a 
        href="mailto:ricardocanastro@gmail.com" 
        aria-label="email ricardocanastro@gmail.com"
    >
        <EmailIcon size="3rem" />
    </a>
    <a
        href="https://www.linkedin.com/in/ricardocanastro/"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="linkedin ricardocanastro"
    >
        <LinkedInIcon size="3rem" />
    </a>
    <a
        href="https://twitter.com/canastro"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="twitter @canastro"
    >
        <TwitterIcon size="3rem" />
    </a>
</div>

<style>
  .contacts {
    display: flex;
    flex-direction: row;
    gap: var(--space-4);
    padding-block-start: var(--space-9);
    margin-inline: auto;
    margin-block-start: auto;
  }
</style>
