---
import Heading from "../../atoms/Heading.astro";
import Link from "../../atoms/Link.astro";
import Text from "../../atoms/Text.astro";
import EmailIcon from "../../atoms/icons/EmailIcon.astro";
import LinkedInIcon from "../../atoms/icons/LinkedInIcon.astro";
import TwitterIcon from "../../atoms/icons/TwitterIcon.astro";
---

<section>
  <header>
    <Heading as="h2" class="main-title" size="8" weight="regular">
      Elsewhere
    </Heading>

    <Text> You can find me around the web as @canastro in most places. </Text>
  </header>

  <ul>
    <li>
      <Link
        href="https://www.linkedin.com/in/ricardocanastro/"
        target="_blank"
        aria-label="linkedin ricardocanastro"
      >
        Gitub
      </Link>
    </li>
    <li>
      <Link
        href="https://www.linkedin.com/in/ricardocanastro/"
        target="_blank"
        aria-label="linkedin ricardocanastro"
      >
        LinkedIn
      </Link>
    </li>
    <li>
      <Link
        href="https://twitter.com/canastro"
        target="_blank"
        aria-label="linkedin ricardocanastro"
      >
        Twitter
      </Link>
    </li>
  </ul>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
  }

  header {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    max-inline-size: 50ch;
  }
</style>
