/* archivo-latin-300-normal */
@font-face {
    font-family: 'Archivo';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url(@fontsource/archivo/files/archivo-latin-300-normal.woff2) format('woff2'), url(@fontsource/archivo/files/archivo-latin-300-normal.woff) format('woff');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }
  
  /* archivo-latin-400-normal */
  @font-face {
    font-family: 'Archivo';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(@fontsource/archivo/files/archivo-latin-400-normal.woff2) format('woff2'), url(@fontsource/archivo/files/archivo-latin-400-normal.woff) format('woff');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }
  
  /* archivo-latin-500-normal */
  @font-face {
    font-family: 'Archivo';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(@fontsource/archivo/files/archivo-latin-500-normal.woff2) format('woff2'), url(@fontsource/archivo/files/archivo-latin-500-normal.woff) format('woff');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }
  
  /* archivo-latin-700-normal */
  @font-face {
    font-family: 'Archivo';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(@fontsource/archivo/files/archivo-latin-700-normal.woff2) format('woff2'), url(@fontsource/archivo/files/archivo-latin-700-normal.woff) format('woff');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }

/* eb-garamond-latin-400-normal */
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/eb-garamond/files/eb-garamond-latin-400-normal.woff2)
      format("woff2"),
    url(@fontsource/eb-garamond/files/eb-garamond-latin-400-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* eb-garamond-latin-500-normal */
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(@fontsource/eb-garamond/files/eb-garamond-latin-500-normal.woff2)
      format("woff2"),
    url(@fontsource/eb-garamond/files/eb-garamond-latin-500-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* eb-garamond-latin-700-normal */
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/eb-garamond/files/eb-garamond-latin-700-normal.woff2)
      format("woff2"),
    url(@fontsource/eb-garamond/files/eb-garamond-latin-700-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --font-size-1: 0.75rem;
  --font-size-2: 0.875rem;
  --font-size-3: 1rem;
  --font-size-4: 1.125rem;
  --font-size-5: 1.25rem;
  --font-size-6: 1.5rem;
  --font-size-7: 1.75rem;
  --font-size-8: 2.5rem;
  --font-size-9: 3.5rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --line-height-1: 1rem;
  --line-height-2: 1.25rem;
  --line-height-3: 1.5rem;
  --line-height-4: 1.625rem;
  --line-height-5: 1.75rem;
  --line-height-6: 1.875rem;
  --line-height-7: 2.25rem;
  --line-height-8: 3rem;
  --line-height-9: 4rem;

  --letter-spacing-1: 0.0025em;
  --letter-spacing-2: 0em;
  --letter-spacing-3: 0em;
  --letter-spacing-4: -0.0025em;
  --letter-spacing-5: -0.005em;
  --letter-spacing-6: -0.00625em;
  --letter-spacing-7: -0.0075em;
  --letter-spacing-8: -0.01em;
  --letter-spacing-9: -0.025em;

  --font-serif: "EB Garamond", serif;
  --font-sans-serif: "Archivo", -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", system-ui, sans-serif, "Apple Color Emoji";

  /* default values */
  --default-font-family: var(--font-sans-serif);
  --default-font-size: var(--font-size-3);
  --default-font-style: normal;
  --default-font-weight: var(--font-weight-regular);
  --default-line-height: 1.5;
  --default-letter-spacing: 0em;
  --default-leading-trim-start: 0.42em;
  --default-leading-trim-end: 0.36em;

  /* Heading */
  --heading-font-family: var(--font-serif);
  --heading-font-size-adjust: 1;
  --heading-font-style: normal;
  --heading-leading-trim-start: var(--default-leading-trim-start);
  --heading-leading-trim-end: var(--default-leading-trim-end);
  --heading-letter-spacing: 0em;

  --heading-line-height-1: 1rem;
  --heading-line-height-2: 1.125rem;
  --heading-line-height-3: 1.375rem;
  --heading-line-height-4: 1.5rem;
  --heading-line-height-5: 1.625rem;
  --heading-line-height-6: 1.875rem;
  --heading-line-height-7: 2.25rem;
  --heading-line-height-8: 2.5rem;
  --heading-line-height-9: 4rem;

  /* Quote */
  --quote-font-family: "Times New Roman", "Times", serif;
  --quote-font-size-adjust: 1.18;
  --quote-font-style: italic;
  --quote-font-weight: inherit;
  --quote-letter-spacing: -0.025em;
}

body {
  overflow-wrap: break-word;
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight);
  font-style: var(--default-font-style);
  line-height: var(--default-line-height);
  letter-spacing: var(--default-letter-spacing);
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
