---
import { Img } from "astro-imagetools/components";

import Heading from "../../atoms/Heading.astro";
import Text from "../../atoms/Text.astro";
---

<section>
  <Heading as="h2" class="main-title" size="8" weight="regular">
    About me
  </Heading>

  <div class="content">
    <div class="avatar">
      <Img
        src="/images/avatar.jpeg"
        alt="Ricardo Canastro"
        height={240}
        width={240}
        placeholder="tracedSVG"
      />
    </div>

    <div class="text">
      <Text as="p">
        My name is Ricardo Canastro, a 37-year-old Software Developer from
        Porto, Portugal, proud father of two and blessed with a beautiful wife.
      </Text>

      <Text as="p">
        From my earliest years, I found myself captivated by computers,
        undoubtedly fueled by my love for gaming. With over 13 years of
        immersion in the software development industry, I can affirm my
        unwavering dedication to my profession. My thirst for knowledge is
        unyielding, and I am committed to both expanding my expertise and
        imparting it to others.
      </Text>
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
      max-inline-size: 50ch;
  }

  .avatar {
    border-radius: var(--radius-3);
    inline-size: fit-content;
    overflow: hidden;
    inline-size: 240px;
    block-size: 240px;
    min-inline-size: 240px;
    min-block-size: 240px;
  }

  @media screen and (min-width: 768px) {
    .content {
      flex-direction: row;
    }

    .text {
      max-inline-size: 50ch;
      inline-size: 100%;
    }
  }
</style>
