---
interface Props {
  class?: string;
  size: "1" | "2" | "3" | "4";
  as: "main" | "div" | "section";
}

const { as: As = "div", size = "3" } = Astro.props;
---

<As class:list={["container", `container-size-${size}`]}>
  <div class:list={[Astro.props.class, "inner-container"]}>
    <slot />
  </div>
</As>

<style>
  .container {
    padding-inline: var(--space-4);
    box-sizing: border-box;
  }

  .container-size-1 {
    max-inline-size: var(--container-1);
  }

  .container-size-2 {
    max-inline-size: var(--container-2);
  }

  .container-size-3 {
    max-inline-size: var(--container-3);
  }

  .container-size-4 {
    max-inline-size: var(--container-4);
  }

  .inner-container {
    inline-size: fit-content;
  }

  @media screen and (min-width: 768px) {
    .container {
      padding-inline: var(--space-9);
    }
  }

  @media screen and (min-width: 1024px) {
    .container {
      padding-inline: var(--space-10);
    }
  }
</style>
