---
interface Props {
  href: string;
  target?: "_blank" | "_self" | "_parent" | "_top";
}

const { href, target='_blank' } = Astro.props;
---

<a href={href} target={target} rel="noreferrer noopener"><slot/></a>

<style>
    a {
        color: var(--text-color);
        font-weight: var(--font-weight-medium);
        text-decoration: none;
        color: var(--text-color);
    }

    a:hover {
        color: var(--text-color-muted);
        text-decoration: underline;
    }
</style>